.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.avatarContent {
    display: flex;
    gap: 10px
}

.img {
    object-fit: cover;
    width: 100% !important;
    height: 100%;
}

.grettings {
    display: flex;
    flex-direction: column;
}

.grettingUser{
   font-family: var(--font-poppins) ;
}

.name {
    font-weight: 900;
    font-family: var(--font-poppins)
}