.containerMembers {
    gap: 12px;
    margin-top: 15px;
    font-family: montserrat;
    display: flex;
    max-width: 302px;
    overflow: scroll;
    cursor: pointer
}

.img {
    object-fit: cover;
    width: 100% !important;
    height: 100%;
}

.membersTitle {
    font-family: var(--font-poppins);
    font-weight: 800;
}