.containerMembers {
    gap: 12px;
    margin-top: 15px;
    font-family: montserrat;
    display: flex;
    max-width: 275px;
    overflow: scroll;
    cursor: pointer
}

.avatarMembers {
    background-color: #866ff7;
}

.containerAvatarMembers {
    display: flex;
    justify-content: space-between;
}

.img {
    object-fit: cover;
    width: 100% !important;
    height: 100%;
}

.iconPlus {
    font-size: 10px;
}

.membersTitle {
    font-family: var(--font-poppins);
    font-weight: 800;
}

