.containerCheckbox {
    display: flex;
    gap: 7px;
}

.containerTime {
    display: flex;
    gap: 10px;
}

.checkbox-row {
  display: flex !important;
  flex-direction: row !important;
  gap: 12px;
  align-items: center;
}

.boxColor {
  height: 30px;
  width: 30px;
}
.iconElipsis {
  width: 10px !important;
  height: 10px !important;
}