.containerNav {
    background-color: #25232f;
    border: 1px solid;
    border-radius: 20px;
    max-width: 235px;
    display: flex;
    gap: 9px;
    justify-content: flex-end;
    padding: 8px;
}

.button {
    background-color: #23212d !important;
    border: none;
}

.activeButton {
    background-color:  #866ff7 !important;
}

/* .avatar {
    background-color: #3f29ac !important;
} */